services:

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Naveen@sql24
      MYSQL_DATABASE: Servlet_Jsp
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  app:
    image: 1710311/naveensiriveri:em
    container_name: java-app
    restart: always
    depends_on:
      - mysql
    ports:
      - "8081:8080"

volumes:
  mysql_data:
